@page
@model Presentation.Pages.Artist.ArtistAddArtworkModel
@{
}
<div class="container">
	<div class="row mb-3">
		<form method="post" asp-page-handler="AddImage">

			<div>
				<div class="mb-3">
					<label for="title" class="form-label">Your Title for this Artwork: </label>
					<input type="text" class="form-control" id="title" asp-for="addArtworkDTO.Title">
					<span class="text-danger" asp-validation-for="addArtworkDTO.Title"></span>
				</div>
				<div class="mb-3">
					<label for="genre" class="form-label">Genre: </label>
					<select asp-for="addArtworkDTO.GenreId" class="form-control">
						@foreach (var genre in Model.Genres)
						{
							<option value="@genre.Id">@genre.Name</option>
						}
					</select>
					<span class="text-danger" asp-validation-for="addArtworkDTO.Description"></span>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Your description for this artword: </label>
					<input type="text" class="form-control" id="description" asp-for="addArtworkDTO.Description">
					<span class="text-danger" asp-validation-for="addArtworkDTO.Description"></span>
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price: </label>
					<input type="number" class="form-control" id="minPrice" asp-for="addArtworkDTO.Price">
					<span class="text-danger" asp-validation-for="addArtworkDTO.Price"></span>
				</div>

				<div class="text text-danger" asp-validation-summary="All"></div>

				<div class="mb-3">
					<label for="artworkImageUpload" class="form-label">Upload Artwork Image</label>
					<input type="file" class="form-control" id="artworkImageUpload">
					<img src="" id="artworkImageDisplay" style="display:none;width:300px;" />
				</div>
				<div class="mb-3">
					<label for="publicId" class="form-label">Public Id</label>
					<input type="text" readonly class="form-control" id="publicId" asp-for="addArtworkImageDTO.PublicId">
					<img src="" id="artworkImageDisplay" style="display:none;width:300px;" />
				</div>
				<div class="mb-3">
					<label for="artworkImage" class="form-label">Artwork Image Url</label>
					<input type="text" class="form-control" id="artworkImage" asp-for="addArtworkImageDTO.Url" readonly>
					<span class="text-danger" asp-validation-for="addArtworkImageDTO.Url"></span>
					<button type="button" class="btn btn-primary" id="buttonAdd" data-bs-toggle="modal" data-bs-target="#confirmModal">Add</button>
				</div>

			</div>
			<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmModalLabel">Confirm Add</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Are you sure you want to add this artwork?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
							<button type="button" class="btn btn-primary" id="confirmAddButton">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<script>
		const artworkImageUpload = document.getElementById('artworkImageUpload');
		const artworkImage = document.getElementById('artworkImage');
		const artworkImageDisplay = document.getElementById('artworkImageDisplay');
		const publicId = document.getElementById('publicId');
		const buttonAdd = document.getElementById('buttonAdd');
		async function uploadArtworkImage(e) {
			buttonAdd.disabled = true
			let data = new FormData();
			data.append('file', e.target.files[0]);

			await fetch('/api/image', {
				method: 'POST',
				header: {
					'Accept': '*/*',

				},
				body: data
			}).then(response => response.json())
				.then(result => {
					artworkImage.value = result.link;
					artworkImageDisplay.style.display = 'block';
					artworkImageDisplay.src = result.link;
					publicId.value = result.publicId;
				});
			buttonAdd.disabled = false
		}
		artworkImageUpload.addEventListener('change', uploadArtworkImage)

		const addButton = document.querySelector('[data-bs-toggle="modal"]');
		addButton.addEventListener('click', function (event) {

			$('#confirmModal').modal('show');
		});


		const confirmAddButton = document.getElementById('confirmAddButton');
		confirmAddButton.addEventListener('click', function () {

			document.forms[0].submit();

			$('#confirmModal').modal('hide');
		});
	</script>
}