@page
@model Presentation.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<p>
    Please check your email to continue the next step!
</p>


