@page "/Account/Register"
@model Presentation.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUser.Name" class="control-label">Full Name</label>
                <input asp-for="AppUser.Name" class="form-control" />
                <span asp-validation-for="AppUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="AppUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Email" class="control-label">Email Address</label>
                <input asp-for="AppUser.Email" class="form-control" />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}