@page
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal
@model Presentation.Pages.User.ChangeEmail

@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row mt-3">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 input-group">
                <input asp-for="Email" class="form-control" placeholder="Current Email" disabled />
                <div class="input-group-append">
                    <span class="input-group-text bg-success text-white font-weight-bold">✓</span>
                </div>
                <label asp-for="Email" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="New Email">
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}