<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="~/css/main.82cfd66e.css" rel="stylesheet">

</head>
<body>
    <header class="">
        <div class="navbar navbar-default visible-xs">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home/Index" class="navbar-brand">Artwork Sharing</a>
        </div>

        <nav class="sidebar">
            <div class="navbar-collapse" id="navbar-collapse">
                <div class="site-header hidden-xs">
                    <a class="site-brand" asp-page="/Home/Index" title="">
                        <img class="img-responsive site-logo" alt="" src="~/assets/images/mashup-logo.svg">
                        Artwork Sharing
                    </a>
                    <partial name="_LoginStatusPartial" />
                </div>
               
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    @if(User.Identity.IsAuthenticated){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-userId="@Context.Session.GetInt32("Id")" asp-page="/User/Detail">Profile</a>
                        </li>
                    }
                    
                    
                    @if (User.IsInRole("Artist"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/artist/artistcommission">My Commission</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" href="/artist/artistcommissionhistory">Commission History</a>
                        </li>
                    }
                    @if (User.IsInRole("Audience"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/audience/commissionrequesthistory">Your commission request history</a>
                        </li>
                    }
                    <li>
                        <div class="btn-group dropend">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-regular fa-bell"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>

                <nav class="nav-footer">
                    <p class="nav-footer-social-buttons">
                        <a class="fa-icon" href="https://www.instagram.com/" title="">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="fa-icon" href="https://dribbble.com/" title="">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a class="fa-icon" href="https://twitter.com/" title="">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </p>
                    <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
                </nav>
            </div>
        </nav>
    </header>
    @* <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
    @if(Context.User.IsInRole("Artist"))
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index:9999;">
            <div id="artistLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style=" width: 400px; height:200px;">
                <div class="toast-header">
                    <strong class="me-auto fs-2">Notification</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body fs-3" id="toastContent">
                </div>
            </div>
        </div>
    }
    <main class="" id="main-collapse">
        <div class="row">
            
            @RenderBody()
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/a43552ec4c.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/websignalr/presence.js"></script> 
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            masonryBuild();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navbarToggleSidebar();
            navActivePage();
        });
    </script>
    <script type="text/javascript" src="~/js/main.85741bff.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>