@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Testing Page</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h6>GET 40% OFF</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187.jpg?w=1436&h=958" alt="Sales Image" class="img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="@Url.Action("Buy", "Sales")">Get it now</a>
        </div>
    </div>
</div>
